[

    ; ======= Blob schema

    {
        :db/id #db/id[:db.part/db]
        :db/ident :sys.blob/length
        :db/valueType :db.type/long
        :db/cardinality :db.cardinality/one
        :db/doc "Blob length"
        :db.install/_attribute :db.part/db
    }

    {
        :db/id #db/id[:db.part/db]
        :db/ident :sys.blob/mimetype
        :db/valueType :db.type/string
        :db/cardinality :db.cardinality/one
        :db/doc "Blob mimetype"
        :db.install/_attribute :db.part/db
    }
    
]